<h1>Comments#edit</h1>
<p>Find me in app/views/comments/edit.html.erb</p>


<%= form_for [@board,@comment] do |f| %>
  <%= f.text_area :content, placeholder: 'comment' %>
  <%= f.submit "送信！" %>
<% end %>