<h1>Boards#new</h1>
<p>Find me in app/views/boards/new.html.erb</p>

<%= form_for @board do |f| %>
  <%= f.text_field :name, placeholder:'board' %>
  <%= f.text_area :content, placeholder: 'content' %>
  <%= f.submit "送信！" %>
<% end %>